<!doctype html>
<html lang="en">

{{> head}}

{{> bootstrap}}

<body>

<!-- Page Title-->
<div class="container">
	<h1 align="center">Crane Inspection Dashboard</h1>
</div>

<table style="width: 100%;border: 1px solid black">
	<tr>
		<th style="border: 1px solid black;text-align: center">ID</th>
		<th style="border: 1px solid black;text-align: center">Inspected?</th>
	</tr>
	{{#each cranes}}
	<tr>

		<td align="center" style="border: 1px solid black;">{{this.id}}</td>
		<td align="center" style="border: 1px solid black;">{{#if this.status}}&#9989;{{else}}&#10060;{{/if}}</td>
	</tr>
	{{/each}}

</table>

</body>
</html>