<!doctype html>
<html lang="en">

{{> head}}

{{> bootstrap}}

<body>

		<script src="/socket.io/socket.io.js"></script>

<!-- Page Title-->
<div class="container">
	<h1 align="center">Daily Dashboard</h1>
</div>

<div style="margin: 20px;">
<table style="width: 100%;border: 1px solid black;">
	<tr>
		<th style="border: 1px solid black;text-align: center">Type</th>
		<th style="border: 1px solid black;text-align: center">ID</th>
		<th style="border: 1px solid black;text-align: center">Inspected?</th>
	</tr>
	{{#each cranes}}
	<tr>
		<td align="center" style="border: 1px solid black;">{{this.type}}</td>
		<td align="center" style="border: 1px solid black;">{{this.id}}</td>
		<td id={{this.id}} align="center" style="border: 1px solid black;">{{#if this.status}}&#9989;{{else}}&#10060;{{/if}}</td>
	</tr>
	{{/each}}

</table>
<div>

		<script>
			var socket = io();

			socket.on('connect', function () {
				console.log('connected to server');
			});

			socket.on('newInspection', function (inspection) {
				console.log('new Inspection Recieved!', inspection.id);

				console.log(inspection.id);
				var queryId = inspection.id;
				var queryIdEscaped = queryId.replace("&", "\\&").replace("/", "\\/")

			$(document).ready(function() {
				// $(`td.[class=${queryId}]`).replaceWith('<td align="center" style="border: 1px solid black;">&#9989;</td>')
				$(`#${queryIdEscaped}`).html("&#9989;")
				});
			});
		</script>

</body>
</html>
