<!doctype html>
<html lang="en">

{{> head}}

{{> bootstrap}}

<body>

<!-- Page Title-->

	<div class="container-fluid">
		<h1 align="center">Crane Inspection Form</h1>
	</div>

		<div class="container" align="center">
			<div class="row">
				<div class="col-sm">
					<a href="dashboard">Dashboard</a>
				</div>
				<div class="col-sm">
					<a href="craneinspections">View all inspections</a>
				</div>
			</div>
		</div>

<!--Thank you message if arriving via POST-->

	<div class="container-fluid" id="thanks">
		<h1 align="center">{{thanks}}</h1>
	</div>

<!--Delay for thank you message-->

	<script>
	jQuery("#thanks").delay('500').fadeOut('slow');
	</script>

<!--Crane inspection form-->

	<form action="/craneinspection" method="POST" align="center">
		Name:<br>
		<input type="text" name="name"></input><br>
		Equipment Serial:<br>
		<input type="text" name="serial"></input><br>
		Inspection status:<br>
		<input type="radio" name="inspection_status" value="pass">pass</input>
		<input type="radio" name="inspection_status" value="fail">fail</input><br>
		<input type="submit" value="Submit"></input><br>
		

	</form>

</body>
</html>