<!doctype html>
<html lang="en">

{{> head}}

{{> bootstrap}}

<body>

<!-- Page Title-->

	<div class="container-fluid">
		<h1 align="center">Crane Inspections</h1>
	</div>

		<div class="container" align="center" style="padding: 0px 0px 20px 20px;">
			<div class="row">
				<div class="col-sm">
					<a href="dashboard">Dashboard</a>
				</div>
				<div class="col-sm">
					<a href="craneinspection">Perform Crane inspection</a>
				</div>
			</div>
		</div>


	<!--Table of all Crane inspections-->
	<table style="width: 100%;border: 1px solid black">
		<tr>
			<th style="border: 1px solid black;text-align: center">Name</th>
			<th style="border: 1px solid black;text-align: center">Serial</th>
			<th style="border: 1px solid black;text-align: center">Status</th>
		</tr>
	{{#each inspections}}
		<tr>
			<td align="center" style="border: 1px solid black;">{{this.name}}</td>
			<td align="center" style="border: 1px solid black">{{this.serial}}</td>
			<td  align="center" style="border: 1px solid black">{{this.inspection_status}}</td>
	{{/each}}

		</tr>


		

	</table>
		

	</form>

</body>
</html>