<!doctype html>
<html lang="en">

{{> head}}

{{> bootstrap}}

<body>

<!-- Page Title-->
<div class="container">
	<h1 align="center">Dashboard</h1>
</div>

	<div align="center">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<a href="craneinspection">Perform Crane inspection</a>
				</div>
				<div class="col-sm">
					<a href="craneinspections">View all Crane inspections</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>