<!doctype html>
<html lang="en">

{{> head}}

{{> bootstrap}}

<body>

<!-- Page Title-->
<div class="container">
	<h1 align="center">Safety App</h1>
</div>

<div align="center">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<a href="atcoinspections"><button>Inspections</button></a>
			</div>
			<div class="col-sm">
				<!-- <a href="atcoprojects"><button>Test Project Dashboard</button></a> -->
			</div>
			<div class="col-sm">
				<a href="atcoinspections/leadingindicators"><button>Leading Indicators (This Month)</button></a>
			</div>
		</div>
	</div>
</div>
