<html>
<h1 align="center">Dashboard</h1>

{{> bootstrap}}

<body style="text-align: center" >
	
	<div style="padding: 20px 20px 20px 20px">
	<a href="http://localhost:3000/craneinspection">Crane inspection</a>
	</div>

	<div style="padding: 20px 20px 20px 20px">
	<a href="http://localhost:3000/craneinspections">All inspections
	</a>
	</div>


</body>
</html>